BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "MYLED[0]" SITE "97" ;
LOCATE COMP "MYLED[1]" SITE "98" ;
LOCATE COMP "MYLED[2]" SITE "99" ;
LOCATE COMP "MYLED[3]" SITE "100" ;
LOCATE COMP "MYLED[4]" SITE "104" ;
LOCATE COMP "MYLED[5]" SITE "105" ;
LOCATE COMP "MYLED[6]" SITE "106" ;
LOCATE COMP "MYLED[7]" SITE "107" ;
LOCATE COMP "sinGen" SITE "142" ;
LOCATE COMP "CIC_out_clk" SITE "125" ;
IOBUF PORT "DiffIn" IO_TYPE=LVCMOS25 CLAMP=ON HYSTERESIS=NA ;
LOCATE COMP "DiffOut" SITE "127" ;
IOBUF PORT "RFIn" IO_TYPE=LVDS25 ;
LOCATE COMP "RFIn" SITE "133" ;
LOCATE COMP "XOut" SITE "58" ;
IOBUF PORT "XIn" PULLMODE=UP IO_TYPE=LVCMOS25 HYSTERESIS=SMALL ;
IOBUF PORT "XOut" IO_TYPE=LVCMOS25 SLEWRATE=SLOW ;
LOCATE COMP "sin_out" SITE "54" ;
LOCATE COMP "XIn" SITE "57" ;
LOCATE COMP "PWMOut" SITE "43" ;
USE PRIMARY NET "osc_clk" ;
FREQUENCY NET "osc_clk" 136.000000 MHz ;
CLOCK_TO_OUT ALLPORTS 10.000000 ns CLKNET "osc_clk" ;
